streamlit==1.17.0
pandas==1.5.2
openai==0.28.3
regex==2023.11.18
PyPDF2==2.3.2
langchain==0.12.7
pathlib==2.5.3
pinecone-client==2.1.0
python-dotenv==2023.12.20
langchain-experimental==0.12.7
faiss-cpu==1.8.4
