pip==23.3.2 
python-dotenv
langchain
openai
pinecone-client==2.1.0
unstructured
tabulate
pdf2image
streamlit
tiktoken
streamlit
langchain
openai
python-dotenv
pinecone-client
streamlit-chat
chromadb
tiktoken
sentence_transformers
streamlit_chat
faiss-cpu
PyPDF2
streamlit
pandas
openai
regex
PyPDF2
langchain
pathlib
pinecone
python-dotenv
langchain-experimental
